<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.picshow">

    <application
        tools:replace="android:name"
        android:name=".app.PictureShowApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:extractNativeLibs="false"
        android:theme="@style/AppTheme">
        <activity android:name=".app.PicShowActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".app.AlbumPage" />
        <activity
            android:name=".app.PhotoActivity"
            android:theme="@style/PhotoPageActivity" />
        <activity
            android:name=".editorui.EditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".app.FilterTestActivity"
            android:label="@string/filter_test"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>